*{
    margin: 0;
    padding: 0;
}

.body{
    overflow: hidden; }

.sky{
background-image: url(sky.jpg);
height: 100vh; 
background-size: cover;
background-position: center;
}

.ground{
    background-image: url(road-asphalt-texture-straight-track-for-race-vector-36032120.jpg);
    position: fixed;
    background-position: bottom;
    background-size: 500px;
    bottom: 0px;
    max-height: 28.5vh;
    min-height: 28.5vh;
    height: 300px;
    width: 900%; 
    background-repeat: repeat-x;
    zoom: 90%;
    animation: trackmove  linear 9s infinite;
}

.car{
    background-image: url(car.png);
    position: fixed;
    background-position: left bottom;
    background-size: 350px;
    bottom: 114px;
    left: 100px;
    height:100vh;
    width: 100vh;
    background-repeat: no-repeat;
}

#back{
    background-image: url(backwheel2.png);
    border-radius: 50%;
    position: absolute;
    align-items: center;
    background-size: 208px;
    bottom: -34px;
    left: -4px;
    height: 156px;
    width: 210px;
    background-repeat: no-repeat;
    animation: wheelrotation linear .4s infinite;
}
#front{
    background-image: url(frontwheel2.png);
    border-radius: 50%;
    align-items: center;
    position: absolute;
    background-size: 207px;
    bottom: -39px;
    left: 167px;
    height: 161px;
    width: 214px;
    background-repeat: no-repeat;
    animation: wheelrotation linear .4s infinite;
}

@keyframes wheelrotation {
    100%{
        transform: rotateZ(360deg);
    }
    
}

@keyframes trackmove {
    100%{
        transform: translateX(-500vw);
    }
}

.trees{
    height: 500px;
    width: 9000%;
    padding-left: 100px;
    position: relative;
    background-size: 100px;
    bottom: 90px;
    background-repeat: repeat-x;

}

#tree1{
    background-image: url(tree1.png);
    left: 0px;
    z-index: 1;
}

#tree2{
    background-image: url(tree2.png);
    z-index: 0;
    left: 40px;
    top: -583px;
}
  
.clouds{
    background-image: url(clouds.png);
    height: 65vh;
    width: 700%;
    background-repeat: repeat-x;
    animation: trackmove linear 450s infinite;
}
